<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>controller.TestingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentResetPasswordServlet</servlet-name>
        <servlet-class>controller.AgentResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSchedule</servlet-name>
        <servlet-class>controller.AdminAddSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentLoginServlet</servlet-name>
        <servlet-class>controller.AgentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentChangePasswordServlet</servlet-name>
        <servlet-class>controller.AgentChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <servlet-class>controller.RegisterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookVesselServlet</servlet-name>
        <servlet-class>controller.BookVesselServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterItemServlet</servlet-name>
        <servlet-class>controller.RegisterItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookingServlet</servlet-name>
        <servlet-class>controller.CreateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingOperationServlet</servlet-name>
        <servlet-class>controller.BookingOperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/TestingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentResetPasswordServlet</servlet-name>
        <url-pattern>/AgentResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSchedule</servlet-name>
        <url-pattern>/AdminAddSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentLoginServlet</servlet-name>
        <url-pattern>/AgentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentChangePasswordServlet</servlet-name>
        <url-pattern>/AgentChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <url-pattern>/RegisterCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookVesselServlet</servlet-name>
        <url-pattern>/BookVesselServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterItemServlet</servlet-name>
        <url-pattern>/RegisterItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookingServlet</servlet-name>
        <url-pattern>/CreateBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingOperationServlet</servlet-name>
        <url-pattern>/BookingOperationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
